.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 20px 100px;
}

/*-----------------Logo-----------------*/
.logo {
    width: 70px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(-5px 5px 15px #000);
}